@{
    ViewBag.Title = "用户注册";
    string msg = ViewBag.Msg;
    if(ViewBag.Msg==null){
        msg = "";
    }
   
}

<!--字体样式-->
<style type="text/css">
    .font1
    {
        font-size: 16px;
        font-family: 'Microsoft YaHei UI';
    }

    .div1
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<!--字体样式-->
<div id="head">
    @RenderPage("../Home/Nav.cshtml")
</div>
<!-- operation menu-->


<hr />

    <!-- 新增用户-->
    <div class="row-fluid">
        <div class="col-lg-6 col-lg-offset-3">
            @using (Html.BeginForm("ModifyLoginPassword", "User", FormMethod.Post))
            {
            <div class="panel panel-primary">
                <div class="panel-heading">修改登陆密码</div>
                <div class="panel-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label>@msg</label>                          
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">原登陆密码</label>
                            <div class="col-sm-7">
                                <input name="password" type="password" class="form-control"  placeholder="请输入原密码">
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">新登陆密码</label>
                            <div class="col-sm-7">
                                <input  name="newPassword" type="password" class="form-control"  placeholder="请输入新密码">
                            </div>
                        </div>

                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">确认新登陆密码</label>
                            <div class="col-sm-7">
                                <input id="passwordAgain1" type="password" class="form-control"  placeholder="请再次输入新密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-3">
                                <input type="submit" name="submit" class="btn btn-danger" value="修改" /> 
                            </div>
                            <div class=" col-sm-offset-1 col-sm-4">
                                <input  type="submit" class="btn btn-default" value="取消" />
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            }
            @using (Html.BeginForm("ModifyPayPassword", "User", FormMethod.Post))
            {
                <div class="panel panel-primary">
                <div class="panel-heading">修改支付密码</div>
                 <div class="panel-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label>@msg</label>                          
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">支付密码</label>
                            <div class="col-sm-7">
                                <input name="password" type="password" class="form-control"  placeholder="请输入原密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">新支付密码</label>
                            <div class="col-sm-7">
                                <input name="newPassword" type="password" class="form-control"  placeholder="请再次输入原密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label">确认新支付密码</label>
                            <div class="col-sm-7">
                                <input  id="passwordAgain2" type="password" class="form-control"  placeholder="请输入新密码">
                            </div>
                        </div>
                        <div class="form-group">
                             <div class="col-sm-offset-3 col-sm-3">
                                <input type="submit" name="submit" class="btn btn-danger" value="修改" /> 
                            </div>
                            <div class=" col-sm-offset-1 col-sm-4">
                                <input type="submit" class="btn btn-default" value="取消" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            }
        </div>

    </div>
    <!-- 新增用户 -->
