@{
    ViewBag.Title = "UserHistory";
}
<!-- 历史记录-->
<div class="panel panel-primary">
    <div class="panel-heading">
        历史记录
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <p>上次登录</p>
        </div>
        <div class="col-lg-12">
            <p>2014-8-10 22:00:13</p>
        </div>

        <div class="col-lg-12">
            <p>近三场游戏</p>
        </div>
        <div>

            <div class="col-lg-2">
                <p>1</p>
            </div>
            <div class="col-lg-6">
                <p>德州扑克-13</p>
            </div>
            <div class="col-lg-4">
                <p>胜+33</p>
            </div>
        </div>

        <div>
            <div class="col-lg-2">
                <p>2</p>
            </div>
            <div class="col-lg-6">
                <p>德州扑克-13</p>
            </div>
            <div class="col-lg-4">
                <p>负 -3</p>
            </div>
        </div>

        <div>
            <div class="col-lg-2">
                <p>3</p>
            </div>
            <div class="col-lg-6">
                <p>德州扑克-3</p>
            </div>
            <div class="col-lg-4">
                <p>平 0</p>
            </div>
        </div>


    </div>
</div>
<!-- 历史记录-->
