@{
    ViewBag.Title = "UserInfo";
}
<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>
<!-- operation menu-->


<hr />
<!-- 用户信息-->
      <div class="row-fluid">
          <div class="row">
              <div class="col-lg-3">

              </div>
              <div class="col-lg-6">



           <form class="form-horizontal" role="form">
               <div style="text-align:center">
                     <font face="微软雅黑" color="blue" size="5px">用户信息修改</font>
               </div>
               <hr />
               <div class="form-group">
                   <label for="modifyName" class="col-sm-4 control-label"><font face="微软雅黑" size="3px" style="vertical-align:auto "class="pull-right">用户名</font></label>
                   <div class="col-sm-8">
                   <input type="text" class="form-control" id="modifyName" value="test1">
                   </div>
               </div>

               <div class="form-group">
                   <label for="modifyLogPD1"class="col-sm-4  control-label"><font face="微软雅黑" size="3px" class="pull-right">更改登录密码</font></label>
                   <div class="col-sm-8">
                   <input type="password" class="form-control" id="modifyLogPD1" placeholder="请输入6~12位英文或数字">
                    </div>
               </div>
               <div class="form-group">
                  <label for="modifyLogPD2" class="col-sm-4  control-label"><font face="微软雅黑" size="3px" class="pull-right">再次确认登录密码</font></label>
                   <div class="col-sm-8">
                  <input type="password" class="form-control" id="modifyLogPD2" placeholder="检验两者是否一致">
                    </div>
              </div>
                              <div class="form-group">
                   <label for="modifyPayPD1"class="col-sm-4 control-label"><font face="微软雅黑" size="3px" class="pull-right">更改支付密码</font></label>
                   <div class="col-sm-8">
                   <input type="password" class="form-control" id="modifyPayPD1" placeholder="请输入6~12位英文或数字">
                    </div>
               </div>
               <div class="form-group">
                  <label for="modifyPayPD2" class="col-sm-4  control-label"><font face="微软雅黑" size="3px" class="pull-right">再次确认支付密码</font></label>
                   <div class="col-sm-8">
                  <input type="password" class="form-control" id="modifyPayPD2" placeholder="检验两者是否一致">
                    </div>
              </div>
               <div class="form-group">
                   <label for="modifyRecommendName" class="col-sm-4 control-label"><font face="微软雅黑" size="3px" class="pull-right">推荐人</font></label>
                   <div class="col-sm-8">
                   <input type="text" class="form-control" id="modifyRecommendName" value="test2">
                   </div>
               </div>
               <hr />

  
               <hr />
            <!-- Button -->
                <div class="control-group " style="text-align:center">
                    <label class="control-label" for="modifySure"></label>
                    <div class="controls">
                        <button id="modifySure" name="modifySure" class="btn btn-success" type="submit">确认</button>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         @Html.ActionLink("取消", "Hall", "Game", null, new { @class = "btn btn-default" })
	                    
                    </div>
                </div>
                                   
           </form>
		   </div>
              <div class="col-lg-3">

              </div>
          </div>				
					
	</div>
<!-- 用户信息 -->

