<?xml version="1.0" encoding="utf-8" ?>


<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <!-- ISessionFactory实例 -->
  <session-factory>
    <!-- 属性 -->
    <!-- 设置connection provider，NHibernate将用之连接数据库 -->
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <!-- 设置所用driver，在此，我们为MySQL数据库选择MySqlDataDriver -->
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <!-- 设置连接到数据库的connection string -->

    <property name="connection.url">jdbc:mysql:///lsdb</property>
    <property name="connection.username">root</property>
    <property name="connection.password">1234</property>


    <!-- 为特定数据库选择Dialect，这里选择使用MySQL5Dialect -->
    <property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
    <!-- 映射文件 -->
    <mapping  assembly="LotterySystem" />
  </session-factory>
</hibernate-configuration>