@{
    ViewBag.Title = "UserInfo";
}

			<!-- 用户信息-->	
				<div class="panel panel-primary">
					<div class="panel-heading">
						个人信息
					</div>
					<div class="panel-body">
                        <div class="row">
                        <div class="col-sm-5">
                            <p class="pull-right">用户名：</p>
                        </div>
                        <div class="col-sm-7">
                        <p>admin@123.com</p>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-sm-5">
                            <p class="pull-right">昵称：</p>
                        </div>
                        <div class="col-sm-7">
                        <p>****</p>
                        </div>
                        </div>

						<div class="row">
                        <div class="col-sm-5">
                            <p class="pull-right">会员等级：</p>
                        </div>
                        <div class="col-sm-7">
                        <p>15</p>
                        </div>
                        </div>
			            <div class="row">
                        <div class="col-sm-5">
                            <p class="pull-right">积分：</p>
                        </div>
                        <div class="col-sm-7">
                        <p>789</p>
                        </div>
                        </div>

					     <div class="row">
                        <div class="col-sm-5 ">
                            <p class="pull-right">我的房间：</p>
                        </div>
                        <div class="col-sm-7">
                        <p>1</p>
                        </div>
						</div>
						<div>
						<button type="button" class="btn btn-success">编辑信息</button>
						<button type="button" class="btn btn-info">账户记录</button>
                        <button type="button" class="btn btn-info">充值</button>
						</div>
						
				 	</div>
				</div>

			<!-- 用户信息-->


