@if (ViewBag.User!=null) {

    <!-- 用户信息 -->
     		<div class="row">
				<div class="col-lg-3">
					<p>您好！@ViewBag.User.UserName!  @Html.ActionLink("注销", "Register", "Login", new { id=@ViewBag.User.UserID }, null)	</p>
				</div>
			 	<div class="col-lg-3">
					<p>今日战绩：5<span class="text-danger">胜</span> 3<span class="text-info">平</span> 2<span class="text-success">负</span>   积分净值：+23分</p>
				</div>		

				<div class="col-lg-3">
					
				</div>
			</div><!-- 用户信息 -->
} else {
    
  
       <text><h4>您好， 请登录系统或注册！</h4></text>

  
}
