@if (ViewBag.User!=null) {

    <!-- 用户信息 -->
     		<div class="row">
				<div class="col-lg-3">
					<p>您好！@ViewBag.User.UserName!  @Html.ActionLink("注销", "Register", "Login", new { id=@ViewBag.User.UserID }, null)	</p>
				</div>
			 	<div class="col-lg-3">
				
				</div>		

				<div class="col-lg-3">
					
				</div>
			</div><!-- 用户信息 -->
} else {
    
     
       <text><h4>您好， 请登录系统或注册！</h4></text>

  
}
