@{
    ViewBag.Title = "HomeIndex";
}
	<!-- 轮播-->				
						<div id="myCarousel" class="carousel slide">
				
					<ol class="carousel-indicators">
					  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					  <li data-target="#myCarousel" data-slide-to="1"></li>
					  <li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					
					<div class="carousel-inner">
						<div class="active item"><img  src="img/gallery-photo/1.png" height="10" alt="" ></div>
						<div class="item"><img  src="img/gallery-photo/2.png" height="10"alt="" ></div>
						<div class="item"><img src="img/gallery-photo/3.png" height="10"alt="" ></div>
					</div>
				   <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				   <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>	<!-- 轮播-->

				<!-- 游戏资讯-->
					<div class="panel">
					<div class="panel-heading">
						游戏资讯
					</div>
					
					<div class="panel-body">

								<div class="new-update clearfix">
									<i class="icon-exclamation-sign"></i>
									<div class="update-alert">										
										<a title="" href="#"></a>
										<span>请登录*****房间号*****桌号，或者直接搜索用户****，点击参与……</span>
									</div>
									<div><span class="pull-right">2014-08-23</span></div>
								</div>
								
								<div class="new-update clearfix">
									<i class="icon-ok-sign"></i>
									<div class="update-done">										
										<a title="" href="#"><strong>本系统用户量突破100万了！！！</strong></a>
										<span>****在线游戏平台经过长时间的实践检验，深受广大爱好者的喜欢，目前用户统计量已经达到101.781万人次！！</span>
									</div>
									<div><span class="pull-right">2014-08-20</span></div>
								</div>
								
								<div class="new-update clearfix">
									<i class="icon-question-sign"></i>
									<div class="update-notice">										
										<a title="" href="#"><strong>系统维护通知</strong></a>
										<span>由于系统更新，本平台将于2014年8月17日暂停服务一天（8:00-19:00），敬请谅解！</span>
									</div>
									<div><span class="pull-right">2014-08-16</span></div>
								</div>
					</div>
				</div><!-- 游戏资讯-->