@model LotterySystem.Models.LoginModel
@{
    ViewBag.Title = "主页";
}
   

     <script src="@Url.Content("~/Content/js/bootstrap.min.js")">  </script>

    <div id="head"  style="text-align:center"> 
         @RenderPage("LoginHead.cshtml")
    </div>

   
