@{
    ViewBag.Title = "排行傍";
}
<!-- 风云榜-->
<div class="panel panel-primary">
    <div class="panel-heading">
        风云榜
    </div>
    <div class="panel-body">
        <h6>今日排行:</h6>
        <div class="list-group">
            <a href="#" class="list-group-item">冠军: XXX 20000</a>
            <a href="#" class="list-group-item">亚军: XXX 20000</a>
            <a href="#" class="list-group-item">季军: XXX 20000</a>
        </div>

        <h6>本周排行:</h6>
        <div class="list-group">
            <a href="#" class="list-group-item">冠军: XXX 20000</a>
            <a href="#" class="list-group-item">亚军: XXX 20000</a>
            <a href="#" class="list-group-item">季军: XXX 20000</a>
        </div>

        <h6>本月排行:</h6>
        <div class="list-group">
            <a href="#" class="list-group-item">冠军: XXX 20000</a>
            <a href="#" class="list-group-item">亚军: XXX 20000</a>
            <a href="#" class="list-group-item">季军: XXX 20000</a>
        </div>
    </div>
</div>
<!-- 风云榜-->
