@{
    ViewBag.Title = "用户注册";
    
}

<!--字体样式-->
<!--字体样式-->
    <style type="text/css">

    .font1
    {
        font-size: 16px;
        font-family:'Microsoft YaHei UI';
    }
        .div1
        {
            margin-top:10px;
            margin-bottom:10px;  
        }
        
    </style>

<!--字体样式-->

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-3">

             @if(@ViewBag.ErrorMsg!=null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>操作结果: </strong>@ViewBag.ErrorMsg
                </div>
            }
        </div>
    </div>
        
</div>
@using (Html.BeginForm("Register", "Login", FormMethod.Post,new{id="myform1"}))
{
    <!-- 新增用户-->
    <div class="row-fluid">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <div class="form-horizontal" role="form">
                    <div style="text-align: center">
                        <label class="font1" style="color:blue">用户注册</label>
                        
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-sm-4 control-label font1">用户名</label>
                        <div class="col-sm-8">
                            <input type="text" name="userName"  class="{required:true} form-control" placeholder="请输入您的用户名称" />
                        </div>
                    </div>
                    @if("引荐注册".Equals(@ViewBag.RegistType))
                    {
                      <div class="form-group">
                        <label class="col-sm-4 control-label font1">推荐人名称</label>
                        <div class="col-sm-8">
                            <input type="text" name="recommendUserID" class="form-control" placeholder="请输入您的推荐人名称"/>
                        </div>
                     </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label font1">推荐人编号</label>
                        <div class="col-sm-8">
                            <input type="text" name="recommendUserName" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" placeholder="请输入您的推荐人用户数字编号"/>
                        </div>
                     </div>
                    }

                    <div class="form-group">
                        <label class="col-sm-4  control-label font1">请输入登录密码</label>
                        <div class="col-sm-8">
                            <input type="password" name="password" id="newLogPassword" class="form-control {required:true,minlength:6,maxlength:12}"  placeholder="请输入6~12位英文或数字" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4  control-label font1">再次确认登录密码</label>
                        <div class="col-sm-8">
                            <input type="password" class="{required:true,minlength:6,maxlength:12,equalTo:'#newLogPassword'} form-control"  placeholder="请再次输入登录密码" />
                        </div>
                    </div>
      

                    <hr />
                    <!-- Button -->
                    <div class="control-group " style="text-align: center">
                        <label class="control-label"></label>
                        <div class="controls">
                            <input name="submit" class="btn btn-success" type="submit" value="确认">
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input type=button  class="btn btn-success" onclick="javascript: location = '/';" value="取消"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 新增用户 -->

}