@{
    ViewBag.Title = "GameSelect";
    
}

     <div>
!--游戏选择列表-->
				<ul class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active"><a href="#">选择游戏</a></li>
                    <li role="presentation"><a href="#" class="btn btn-default">在线竞猜</a></li>
                    <li role="presentation"><a href="#" class="btn btn-default">德州扑克</a></li>
					<li role="presentation"><a href="#" class="btn btn-default">十三水</a></li>
					<li role="presentation"><a href="#" class="btn btn-default">四合</a></li>
					<li role="presentation"><a href="#" class="btn btn-default">更多</a></li>
               </ul>
                <!--游戏选择列表-->
         </div>