@{
    ViewBag.Title = "GameSelect";
  
}

<div>
    <!--游戏选择列表-->
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="#">选择游戏</a></li>
        @for (var i = 0; i < @ViewBag.GameListCount; i++)
        {
            <li role="presentation">
                @Html.ActionLink( (string)@ViewBag.GameList[i].GameName, "RoomPage", "Game", new { gameID = @ViewBag.GameList[i].GameID }, new { @class = "btn btn-default"})
            </li>          
        }
    </ul>
    <!--游戏选择列表-->
</div>
