@{
    ViewBag.Title = "RoomList";
    
}
<!-- 房间列表 -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						房间列表
					</div>
					
					<div class="panel-body" >
						<div class="table-responsive">
							<table class="table table-condensed">
								<tr>
								  <td>房间名称</td>
								  <td>准入底分</td>
								  <td>起投分值</td>
								  <td>增幅</td>
								  <td>上庄底值</td>
								  <td>管理</td>
                                  								  
								</tr>

                              
								    <tr >
								      
								      <td>A</td>
								      <td>150</td>
								      <td>10</td>
								      <td>1</td>
								      <td>400</td>
								     							     
                                      <td> @Html.ActionLink("进入房间", "TabelList", "Game", null,  new { @class = "btn btn-primary" })
                                          </td>
								    </tr>
 								    <tr >
								      
								      <td>B</td>
								      <td>150</td>
								      <td>10</td>
								      <td>1</td>
								      <td>400</td>
								     							     
                                      <td><button id="enter2" name="" class="btn btn-primary" type="submit">进入房间</button></td>
								    </tr>

                                     <tr >
								      
								      <td>C</td>
								      <td>150</td>
								      <td>10</td>
								      <td>1</td>
								      <td>400</td>
								     							     
                                      <td><button id="enter3" name="" class="btn btn-primary" type="submit">进入房间</button></td>
								    </tr>                               
							</table>
						</div>
						
					</div>
				</div>