@{
    ViewBag.Title = "GameEdit";
    
}

<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>

<!--字体样式-->
    <style type="text/css">

    .font1
    {
        font-size: 16px;
        font-family:'Microsoft YaHei UI';
    }
        .div1
        {
            margin-top:10px;
            margin-bottom:10px;  
        }
        
    </style>

<!--字体样式-->
<div class="row">
        <div class="col-lg-2">

    </div>
        <div class="col-lg-8">
<div class="panel panel-primary">
    <div class="panel-heading">修改游戏信息</div>
    <div class="panel-body">

        <div class="row">
            
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="roomName" class="col-sm-4 control-label font1">游戏名称</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="roomName" value="test1">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label for="roomState" class="col-sm-4 control-label font1">游戏状态</label>
                        <div class="col-sm-8">
                            
                            <select class="btn btn-default dropdown-toggle"  id="roomState">
                            <option value="" selected>开放中</option>
                            <option value="">已关闭</option>
                            <option value="">冻结</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roomState" class="col-sm-4 control-label"><font face="微软雅黑" size="3px"  class="pull-right">OS支持</font></label>
						<div class="controls">
							<label class="checkbox-inline">
							  <input type="checkbox" id="inlineCheckbox1" value="option1"> xp/win7
							</label>
							<label class="checkbox-inline">
							  <input type="checkbox" id="inlineCheckbox2" value="option2"> Linux
							</label>
							<label class="checkbox-inline">
							  <input type="checkbox" id="inlineCheckbox3" value="option3">Android
							</label>
							<label class="checkbox-inline">
							  <input type="checkbox" id="inlineCheckbox3" value="option3">IOS
							</label>
						</div>
                    </div>
                    <div class="form-group">
                        <label for="roomState" class="col-sm-4 control-label"><font face="微软雅黑" size="3px"  class="pull-right">浏览器支持</font></label>
						<div class="controls">
							<label class="checkbox-inline">
							  <input type="checkbox" id="inlineCheckbox1" value="option1"> IE
							</label>
							<label class="checkbox-inline">
							  <input type="checkbox" id="inlineCheckbox2" value="option2"> 火狐
							</label>
							<label class="checkbox-inline">
							  <input type="checkbox" id="inlineCheckbox3" value="option3">Google Chrome
							</label>
						</div>
                    </div>
                    <div class="form-group">
                        <label for="roomState" class="col-sm-4 control-label"><font face="微软雅黑" size="3px"  class="pull-right">修改税率</font></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="enterMin"value="200" >
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label for="enterMin" class="col-sm-4 control-label"><font face="微软雅黑" size="3px" style="vertical-align: auto" class="pull-right">总限房</font></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="enterMin"value="200">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>  
                    <div class="form-group">
                        <label for="enterMin" class="col-sm-4 control-label"><font face="微软雅黑" size="3px" style="vertical-align: auto" class="pull-right">单人限房</font></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="enterMin"value="200" >
                        </div>
                        <div class="col-sm-2"></div>
                    </div>                    
                   
                    <div class="form-group">
                        <label for="throwMin" class="col-sm-4 control-label"><font face="微软雅黑" size="3px" style="vertical-align: auto" class="pull-right">单房限桌</font></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="throwMin" value="20" >
                        </div>
                        <div class="col-sm-2"></div>
                    </div>    
                    <div class="form-group">
                        <label for="growth" class="col-sm-4 control-label"><font face="微软雅黑" size="3px" style="vertical-align: auto" class="pull-right">单桌限人</font></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="growth" value="5">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>  
					
                    <div class="form-group">
                        <label for="growth" class="col-sm-4 control-label"><font face="微软雅黑" size="3px" style="vertical-align: auto" class="pull-right">选号限秒</font></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="growth" value="5">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>  
					
                    <div class="form-group">
                        <label for="growth" class="col-sm-4 control-label"><font face="微软雅黑" size="3px" style="vertical-align: auto" class="pull-right">投注限秒</font></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="growth" value="5">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>  
 
              </form>
         </div>
        <!-- row -->
        <hr/>

        <!--操作栏-->
		<div class="form-group">
                    <!-- Button -->
            <div class="control-group " style="text-align: center">
				<div class="controls">
                    <button id="newRoomSure" name="newRoomSure" class="btn btn-success" type="submit">保存修改</button>  
                     <button id="deleteRoom" name="deleteRoom" class="btn btn-danger" type="submit">删除游戏</button> 
                    <input type="button"  onclick="javascript: history.back(-1);" value="取消" class="btn btn-default">    
					</div>
                </div>
			</div>
        <!--操作栏-->
		
      </div>

</div>

    </div>
        <div class="col-lg-2">

    </div>
</div>

