@{
    ViewBag.Title = "Hall";
}

  <div id="head"> 
        
  </div>
	 <!-- Main Context-->
		<div class="row">
			<!-- Left-->
			<div class="col-lg-3">
			    
                <div id="left1"> 
				    @RenderPage("../User/UserInfo.cshtml")
				</div>
                <div id="left2"> 
				    @RenderPage("../User/UserHistory.cshtml")
				</div>
                <div id="left3"> 
				    @RenderPage("../Home/Ranking.cshtml")
				</div>
				<div id="left4"> 
				   
				</div>
                <div id="left5"> 
				    
				</div>
				
				                                
            </div><!-- Left-->
			
			<!-- Center-->
			<div class="col-lg-9">
                <div id="pageCenter">
			        @RenderPage("../Game/Cbb/RoomList.cshtml")
                </div>
			</div><!-- Center-->
			
			
        
      </div> <!-- row -->
