@{
    ViewBag.Title = "新建房间";
    
}
<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>

<!--字体样式-->
    <style type="text/css">

    .font1
    {
        font-size: 16px;
        font-family:'Microsoft YaHei UI';
    }
        .div1
        {
            margin-top:10px;
            margin-bottom:10px;  
        }
        
    </style>

<!--字体样式-->

@using (Html.BeginForm("CreateRoom", "Game", FormMethod.Post))
{
       @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)



<div class="panel panel-primary">
    <div class="panel-heading">创建房间</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-horizontal">
                     
                    <div class="form-group">
                        <label for="roomName" class="col-sm-4 control-label"><span class="pull-right font1">房间名称</span></label>
                        <div class="col-sm-8">
                            <input id="RoomName" type="text" class="form-control"  placeholder="请输入新建房间名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="roomPassword" class="col-sm-4  control-label"><span class="pull-right font1">请输入准入密码</span></label>
                        <div class="col-sm-8">
                            <input id="roomPassword" type="password" class="form-control"   placeholder="请输入6~12位英文或数字">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roomPD2" class="col-sm-4  control-label"><span class="pull-right font1">再次确认房间密码</span></label>
                        <div class="col-sm-8">
                            <input id="roomPassword2" type="password" class="form-control"  placeholder="检验两者是否一致">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roomState" class="col-sm-4 control-label"><span class="pull-right font1">房间状态</span></label>
                        <div class="col-sm-8">
                            <select class="btn btn-default dropdown-toggle" id="status">
                                <option value="" selected>开放</option>
                                <option value="">关闭</option>
                                <option value="">冻结</option>
                            </select>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label for="enterMin" class="col-sm-4 control-label"><span class="pull-right font1">准入底值</sapn></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="accessAcountLimit">
                        </div>
                    </div>                    
                   
                    <div class="form-group">
                        <label for="throwMin" class="col-sm-4 control-label"><span class="pull-right font1">起投分值</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="basicPoint">
                        </div>
                    </div>    
                    <div class="form-group">
                        <label for="growth" class="col-sm-4 control-label"><span class="pull-right font1">增幅</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="amplification">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hostMin" class="col-sm-4 control-label"><span class="pull-right font1">上庄底值</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="bankerLimit">
                        </div>
                    </div>
                  
               </div>
            </div>
            <!--左边信息-->



            <div class="col-lg-6">

                <div class="form-horizontal" role="form">
                    <!--准入名单-->
                    <div class="form-group">
                       <div >
                           <span class ="col-sm-2 " style="text-align:center">
                              
                                   <label class="control-label" ><span class="pull-right font1">准入名单</span></label>
                                                                                                                             
                          </span>
                          <span class ="col-sm-6  " >
                                    <input type="text" class="form-control" id="enter1" placeholder="请输入你要管理的用户名" > 
                           </span> 
                          <span class="col-sm-2" >
                                   <button id="newEnter" name="newEnter" class="btn btn-success pull-left" type="submit">新增</button>
                           </span>
                          <span class="col-sm-2" >
                                   <button id="deleteEnter" name="deleteEnter" class="btn btn-inverse" type="submit">删除</button>
                          </span>
                          
                       </div>
                         <hr />
                       <div >
                           <div class="col-sm-2 "></div>
                           <div class="col-sm-10">
                                <div class="panel panel-primary div1">
                                   <div class="panel-body">
                                      <h5 >准入名单列表</h5>
                                       <hr />
                                      <p>
                                          <span>A,</span>
                                          <span>B,</span>
                                          <sapn>C,</sapn>
                                          <span>D,</span>
                                          <span>E,</span>
                                      </p>
                                   </div>
                              </div>
                           </div>
                                                
                        </div>
                                                
                       
                            

                    </div>  
                     
<!--准入名单-->
                    <hr />                     
                      <!--禁入名单-->
                    <div class="form-group">
                       <div >
                           <span class ="col-sm-2 " style="text-align:center">
                              
                                   <label class="control-label font1" >禁入名单</label>
                                                                                                                             
                          </span>
                          <span class ="col-sm-6  " >
                                    <input type="text" class="form-control" id="enter1" placeholder="请输入你要管理的用户名" > 
                           </span> 
                          <span class="col-sm-2" >
                                   <button id="newEnter" name="newEnter" class="btn btn-success pull-left" type="submit">新增</button>
                           </span>
                          <span class="col-sm-2" >
                                   <button id="deleteEnter" name="deleteEnter" class="btn btn-inverse" type="submit">删除</button>
                          </span>
                          
                       </div>
                         <hr />
                       <div >
                           <div class="col-sm-2 "></div>
                           <div class="col-sm-10">
                                <div class="panel panel-primary div1">
                                   <div class="panel-body">
                                      <h5 >禁入名单列表</h5>
                                       <hr />
                                      <p>
                                          <span>A,</span>
                                          <span>B,</span>
                                          <sapn>C,</sapn>
                                          <span>D,</span>
                                          <span>E,</span>
                                      </p>
                                   </div>
                              </div>
                           </div>
                                                
                        </div>
                            

                    </div> 

                <!--禁入名单-->

                </div>
            </div>

        </div>

        <!-- row -->
        <hr />

        <!--操作栏-->
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <!-- Button -->
                <div class="control-group " style="text-align: center">

                    <div class="controls">
                        <input name="submit" type="submit" class="btn btn-success" value="确认" />
       
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        @Html.ActionLink("取消", "Hall", "Game", null, new { @class = "btn btn-default" })

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <!--操作栏-->
    </div>
</div>

}
