@{
    ViewBag.Title = "新建房间";
    
}

<div id="head">
    @RenderPage("../Home/Nav.cshtml")
</div>


<!--字体样式-->
    <style type="text/css">
        .font1
        {
            font-size: 16px;
            font-family: 'Microsoft YaHei UI';
        }

        .div1
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>

    <script type="text/javascript">

        var whiteListStr = "";
        var blackListStr = "";

        function EditName(obj) {
            if (obj == "whiteAdd") {
                if ($("#whiteName").val() != "" ) {            
                    if (whiteListStr != "") {
                        whiteListStr = whiteListStr + ",";
                    }
                    whiteListStr = whiteListStr + $("#whiteName").val();
                }          
            } else if (obj == "whiteMin") {
                if ($("#whiteName").val() != "") {                   
                    if (whiteListStr.split(",").length >1) {
                        var value = ',' + $("#whiteName").val();
                        whiteListStr = whiteListStr.replace(value, "");
                        var value =  $("#whiteName").val()+',';
                        whiteListStr = whiteListStr.replace(value, "");

                    } else {
                        whiteListStr=""
                    }
                }
            } else if (obj=="blackAdd") {
                if ($("#blackName").val() != "") {
                    if (blackListStr != "") {
                        blackListStr = blackListStr + ",";
                    }
                    blackListStr = blackListStr + $("#blackName").val();
                }
            } else if (obj=="blackMin") {
                if ($("#blackName").val() != "") {
                    if (blackListStr.split(",").length > 1) {
                        var value = ',' + $("#blackName").val();
                        blackListStr = blackListStr.replace(value, "");
                        var value = $("#blackName").val() + ',';
                        blackListStr = blackListStr.replace(value, "");
                    } else {
                        blackListStr = ""
                    }
                }
            }

            showList();
        }

        function showList() {
            $("#whiteList").html(whiteListStr);
            $("#blackList").html(blackListStr);

            $("#blackNameStr").val(blackListStr);
            $("#whiteNameStr").val(whiteListStr);
        }
    </script>

<!--字体样式-->

<div class="panel panel-primary">
    <div class="panel-heading">
        新建房间信息
    </div>
    <div class="panel-body">

    @using (Html.BeginForm("NewRoom", "Game", FormMethod.Post))
    {
 
        <div class="row">
            <div class="col-lg-6">
                <div class="form-horizontal">                    
                    <div class="form-group">
                        <label  class="col-sm-4 control-label"><span class="pull-right font1">房间名称</span></label>
                        <div class="col-sm-8">
                            <input name="RoomName" type="text" class="form-control"  placeholder="请输入新建房间名称">
                        </div>
                    </div>		 
                    <div class="form-group">		  
		    	        <label  class="col-sm-4 control-label"><span class="pull-right font1">所在游戏</span></label>
				        <div class="col-sm-8">
			    		    <input name="gameName"  type="text" class="form-control"  value="@ViewBag.Game.GameName" disabled="disabled">
	 			        </div>
	                </div>
                    <div class="form-group">
                        <label for="roomPassword" class="col-sm-4  control-label"><span class="pull-right font1">请输入准入密码</span></label>
                        <div class="col-sm-8">
                            <input name="roomPassword" type="password" class="form-control"   placeholder="请输入6~12位英文或数字">
                        </div>
                    </div>
                    <div class="form-group">
			            <label  class="col-sm-4  control-label"><span class="pull-right font1">再次确认房间密码</span></label>
  			            <div class="col-sm-8">
                            <input  name="roomPassword2" type="password" class="form-control"  placeholder="检验两者是否一致">
                        </div>
		           </div>
		            <div class="form-group">
                        <label  class="col-sm-4 control-label"><span class="pull-right font1">房主</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  value="@ViewBag.User.UserName" readonly="true">
                        </div>
                    </div>    
		            <div class="form-group">
                        <label  class="col-sm-4 control-label"><span class="pull-right font1">房间状态</span></label>
                        <div class="col-sm-8">
                            <select class="btn btn-default dropdown-toggle" name="status">
                                <option value="" selected>开放</option>
                                <option value="">关闭</option>
                                <option value="">冻结</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="enterMin" class="col-sm-4 control-label"><span = class="pull-right font1">准入底值</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="accessAcountLimit">
                        </div>
                    </div>                    
                   
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span class="pull-right font1">起投分值</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="basicPoint">
                        </div>
                    </div>
		    
                    <div class="form-group">
                        <label for="growth" class="col-sm-4 control-label"><span class="pull-right font1">增幅</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="amplification" />
                        </div>
                    </div>
		    
		    
                    <div class="form-group">
                        <label  class="col-sm-4 control-label"><span class="pull-right font1">上庄底值</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="bankerLimit" />
                        </div>
                    </div>
               </div>
            </div>
            <!--左边信息-->



            <div class="col-lg-6">
                <div class="form-horizontal" role="form">
                    <!--准入名单-->
                    <div class="form-group">

                          <div class ="col-sm-3 " style="text-align:center">
                               <label class="control-label" >
                                   <span class="pull-right font1">准入名单</span>
                               </label>                                                                                                                             
                          </div>
                          <div class ="col-sm-5  " >
                                <input id="whiteName" type="text" class="form-control"  placeholder="请输入准入用户名"  value="" /> 
                           </div> 
                          <div class="col-sm-2" >
                                   <button id="whiteAdd"class="btn btn-success pull-left"  type="button" onclick="EditName(this.id)">新增</button>
                           </div>
                          <div class="col-sm-2" >
                                   <button  id="whiteMin"   class="btn btn-inverse" type="button" onclick="EditName(this.id)">删除</button>
                          </div>    
                                        
                          <hr />

                   
                          <div class="col-sm-3 "></div>
                          <div class="col-sm-9">
                                <div class="panel panel-primary div1">
                                   <div class="panel-body">
                                      <h5 >准入名单列表</h5>
                                       <hr />
                                      <p id="whiteList">                                        
                                      </p>
                                       <input id="whiteNameStr" name="whiteNameStr" type="text" hidden="hidden" value ="" />
                                   </div>
                              </div>
          
                        </div>

                    </div>  
                     
<!--准入名单-->
                    <hr />                     
                      <!--禁入名单-->
                    <div class="form-group">
                           <div class ="col-sm-3 " style="text-align:center">                          
                                <label class="control-label font1" >禁入名单</label>                                                                                                                          
                          </div>
                          <div class ="col-sm-5  " >
                                <input id="blackName" type="text" class="form-control"  placeholder="请输入禁入的用户名" > 
                           </div> 
                          <div class="col-sm-2" >
                                <button id="blackAdd" class="btn btn-success pull-left" type="button" onclick="EditName(this.id)">新增</button>
                           </div>
                          <div class="col-sm-2" >
                                <button id="blackMin"  name="deleteEnter" class="btn btn-inverse" type="button" onclick="EditName(this.id)" >删除</button>
                          </div>
 
                         <hr />

                           <div class="col-sm-3 "></div>
                           <div class="col-sm-9">
                                <div class="panel panel-primary div1">
                                   <div class="panel-body">
                                      <h5 >禁入名单列表</h5>
                                       <hr />
                                      <p id="blackList">                                        
                                      </p>
                                   </div>
                                    <input id="blackNameStr" type="hidden" name="blackNameStr"  value ="" />
                              </div>
                           </div>                                              

                    </div>
                    <!--禁入名单-->
                </div>
            </div>
        </div>
        <!-- row -->
        <hr />
        <!--操作栏-->
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <!-- Button -->
                <div class="control-group " style="text-align: center">

                    <div class="controls">
                        <input name="submit" type="submit" class="btn btn-success" value="保存信息" />
       
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    
  			            <input type="button"  onclick="javascript: history.back(-1);" value="取消" class="btn btn-default">
                        </div>
                    </div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        
    }
        </div>
        </div>
