@{
    ViewBag.Title = "RoomPage";
}

<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>
<!-- operation menu-->


<hr />
<div class="row">
    <!-- Left-->
    <div class="col-lg-3">

        <div id="left1">
          <span>当前游戏</span>
          <span class="label label-primary">在线竞猜</span>
        </div>

    </div>
    <!-- Left-->

    <!-- Center-->
    <div class="col-lg-5">
        <div id="pageCenter">
          
        </div>
    </div>
    <!-- Center-->

    <!--right-->
    <div class="col-lg-4">
        <div id="right1"  class="pull-right">
            
             @Html.ActionLink("创建房间", "RoomEdit", "Game", new { pageType="create" , roomName=""}, new { @class = "btn btn-success" })
        </div>

        <div id="right2">
        </div>
    </div>

    <!--right-->
</div>

<!-- operation menu-->

<!--Hall-->
<hr />
<div class="row">

     @RenderPage("../Game/Cbb/RoomList.cshtml")

</div>
<!--Hall-->
  