@{
    ViewBag.Title = "TabelList";
   
}
<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>
<!-- Nav bar-->

<hr />
<!-- 牌局列表-->
<div class="panel panel-primary">
    <div class="panel-heading" style="height:60px">
        <span style="font-size:25px">桌子列表</span>
        <span class="pull-right"> <input type="button"  onclick="javascript: history.back(-1);" value="返回" class="btn btn-default"></span>
    </div>

    <div class="panel-body" >
        <div class="table-responsive">
            <table class="table table-condensed">
                <tr>
                    <td>桌号</td>
                    <td>牌局ID</td>
                    <td>庄家</td>
                    <td>上庄时间</td>
                    <td>牌局人数</td>
                    <td>加入</td>
                </tr>
                 <tr>
                    <td>0</td>
                    <td>test1</td>
                    <td>aaa</td>
                    <td>17:30</td>
                    <td>6</td>
                    <td> @Html.ActionLink("加入", "Game", "Game", null,  new { @class = "btn btn-primary" })</td>
                </tr>

                @for (var i = 1; i < 21; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td><a href="">129382</a></td>
                        <td>用户_@i</td>
                        <td>22:10:23</td>
                        <td>3/6</td>
                         <td>@Ajax.ActionLink("进入", "Game", "Game", new { roomID ="" }, new AjaxOptions { UpdateTargetId = "pageCenter" }, new { @class = "btn btn-primary btn-xs" })</td>
                     </tr>
                }             
            </table>
        </div>

    </div>
</div>
<!-- 牌局列表-->
