@{
    ViewBag.Title = "游戏房间";
}

<div id="head">
    
    @RenderPage("../Home/Nav.cshtml")
</div>

<div class="row">
    <!-- Left-->
    <div class="col-lg-3">
        <div id="left1">
            <span>当前游戏</span>
            <span class="label label-primary">在线竞猜</span>
        </div>
    </div>
    <!-- Left-->
    <!--right-->
</div>

<!-- operation menu-->
<hr/>
<!--Hall-->
<div class="row">
    <div class="col-lg-12">
        @RenderPage("../Game/Cbb/TableList.cshtml")
    </div>
</div>
<!--Hall-->
